<%-
    include('template/header', {
        titulopestana: 'Inicio'
    })
%>

<h1 class="text-primary text-center">Inicio</h1>
<h2 class="text-secondary">Bienvenido!</h2>

<%-
    include('template/footer')
%>
